


.home {
    background: lightgrey;
    position: relative;
    background-image: url('./resources/batman2.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

h2 {
    font-size: 65px;
    text-shadow: 4px 3px 3px black;
    color: white;
    
}


.welcome {
    z-index: 3;
    background-image: url('./resources/batman2.JPG');
    width: 100vw; 
    height: 1000px;
    margin: 0 auto;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

.find-friends {  
    background-image: url('./resources/nala.JPG');
    width: 100vw; 
    height: 1000px;
    margin: 0 auto;
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;  
}

.opacity-container1, .opacity-container3{
    display: flex;
    justify-content: center; 
    border: 1px solid lightgrey;
    background: rgba(100, 100, 100, 0.7);
    color: white;
    width: 100%;
}

.opacity-container2{
    display: flex;
    justify-content: space-between;
    background: rgba(100, 100, 100, 0.7);
    color: white;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 0 30px;
}

.opacity-container2:hover{
    color: white;
    background:black;
}
.opacity-container1:hover{
    color: white;
    background:black;
}
.opacity-container3:hover{
    color: white;
    background:black;
}



.opacity-container2 h2{
    margin-right: 10px;

}

.register {
    background-image: url('./resources/iggy2.JPG');
    height: 1000px;
    width: 100vw;
    margin: 0 auto;
    background-size: 1500PX AUTO;
    background-position: 50% ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 35px;
        text-shadow: 1px 1px 1px black;
        color: white;  
         
    }

    .link {
        font-size: 20px;
    }

    .register {
        
        height: 530px;
        width: 768px;
        background-size: cover;
        margin: 0 auto;
        border: none;
        
    }

    .welcome {
        height: 600px;
        width: 768px;
        margin: 0 auto;
        border: none;
    }

    .find-friends{
        height:500px;
        width: 768px;
        margin: 0 auto;
        border: none;
    }
}

@media screen and (max-width: 414px) {
    main{
        width: 414px;
    }
    h2 {
        font-size: 30px;
        
    }
    .home {
        width: 414px;
        height: 600px;
    }

    .register {
        height: 400px;
        width:414px;
    }

    .welcome {
        height: 400px;
        width: 414px;
        margin: 0 auto;
        border: none;
    }

    .find-friends{
        height:400px;
        width: 414px;
        margin: 0 auto;
        border: none;
        background-size: cover;
    }
}



