


.home {
    /* width: 100vw; */
    /* height: 100vh; */
    /* height: 100%; */
    /* width: 100%; */
    /* height: 50px; */
    /* width: 500px; */
    background: lightgrey;
    /* background: url('resources/opacityprints.png'); */
}

h2 {
    font-size: 50px;
    text-shadow: 4px 3px 3px black;
    color: white;
}


.welcome {
    
    background-image: url('./resources/batman2.JPG');

    width: 1500px; 
    /* width: 100%; */
    /* height: auto; */
    height: 900px;
    margin: 0 auto;
    /* background-size: cover; */
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* border-right: 3px solid white; */
    /* border-left: 3px solid white; */
    border-top: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.find-friends {
    
    background-image: url('./resources/nala.JPG');

    width: 1500px; 
    /* width: 100%; */
    /* height: auto; */
    height: 900px;
    margin: 0 auto;
    /* background-size: cover; */
    background-position: 100% 80%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* border-right: 3px solid white; */
    /* border-left: 3px solid white; */
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.opacity-container1, .opacity-container3{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid lightgrey;
    background: rgba(100, 100, 100, 0.7);
    color: white;
    padding-right: 100px;
    width: 100%;
    
}

.opacity-container2{
    display: flex;
    justify-content: flex-start;
    /* align-items: flex-end; */
    background: rgba(100, 100, 100, 0.7);
    color: white;
    border: 1px solid lightgrey;
    padding-left: 100px;
    width: 100%;
}



.opacity-container2 h2{
    margin-right: 10px;

}

.register {
    background-image: url('./resources/iggy2.JPG');
    height: 900px;
    width: 1500px;
    margin: 0 auto;
    background-size: 100% auto;
    background-position: cover;
    background-repeat: no-repeat;
    /* border-right: 3px solid white; */
    /* border-left: 3px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
        text-shadow: 4px 3px 3px black;
        color: white;   
    }

    .register {
        
        height: 530px;
        width: 768px;
        margin: 0 auto;
        
    }

    .welcome {
        height: 600px;
        width: 768px;
        margin: 0 auto;
    }

    .find-friends{
        height:500px;
        width: 768px;
        margin: 0 auto;
    }
}

