.registration-container{
    width: 100%;
    border-top: 1px solid white;
    background-image: url('./../Home/resources/iggy.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    height: 1500px;
    text-shadow: 3px 2px 1px black;
}
.registration-form h1 {
    font-size: 45px;
    text-shadow: 4px 3px 3px black;
}

.registration-form p {
    font-size: 30px;
}

.registration-form button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    border-radius: 5%;
    padding: 10px 15px;
    color: grey;
}

.registration-form button:hover {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    border-radius: 5%;
    padding: 10px 15px;
    color: white;
    background: black;
}

.registration-form{
    width: 100%;
    max-width: 1500px;
    height: 400px;
    
    /* margin: 0 auto; */
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-size: cover;
    /* height: 1000px; */
    background: rgba(100, 100, 100, 0.7);
    color: white;

    border: 1px solid white;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.label-input {
    /* margin-bottom: px; */
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.label-input label {
    margin-bottom: 15px;
    /* align-self: center; */
}

.label-input input {
    margin-right: 30px;
    font-size: 26px;
    margin-bottom: 50px;
    border-radius: 1%;
    font-family: 'Fjalla One', sans-serif;
    
}

@media screen and (max-width: 768px) {
    .label-input {
        /* margin-bottom: px; */
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    .registration-form {
        flex-direction: column;
    }

    .registration-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-size: cover;
        height: 900px;
        background: rgba(100, 100, 100, 0.4);
        color: white;
    
        width: 100%;
        max-width: 1500px;
        
        
      
        border: 1px solid white;
        color: white;
    }

    .login-form h1 {
        text-align: center;
    }
    
}