.registration-container-1{
    background-image: url('./../resources/babydutchie.JPG');
    background-size: 150%;
    background-repeat: no-repeat;
}

.registration-container{
    width: 100%;
    border: 2px solid white;
    background-image: url('./../resources/babydutchie.JPG');
    background-repeat: no-repeat;
    background-size: 160%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    text-shadow: 3px 2px 1px black;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.registration-form h1 {
    font-size: 60px;
    text-shadow: 4px 3px 3px black;
}

.registration-form p {
    font-size: 40px;
    text-align: center;
    align-self: center;
}

.welcome-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-icons i {
    font-size: 45px;
    margin-left: 20px;
    margin-right: 20px;
}

.registration-form button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    border-radius: 8px;
    padding: 10px 15px;
    color: rgb(58, 57, 57);
}

.registration-form button:hover {
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    border-radius: 5%;
    padding: 10px 15px;
    color: white;
    background: black;
    cursor: pointer;
}

.registration-form{
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-size: cover;
    background: rgba(100, 100, 100, 0.4);
    color: white;
    border-radius: 10%;
    border: 1px solid lightgrey;
    padding-bottom: 30px;
    padding-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}



.label-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-input label {
    margin-right: 20px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.label-input input {
    margin-right: 20px;
    height: 60px;
    width: 270px;
    padding: 0;
    margin-bottom: 0 !important;
    font-family: 'Fjalla One', sans-serif;
    border-radius: 5px;
}

.label-input input:hover {
    color: white;
    background: black;
    font-family: 'Fjalla One', sans-serif;
    
}

@media screen and (max-width: 768px) {
    .label-input {
        /* margin-bottom: px; */
        display: flex;
        flex-direction: column;
        margin-top: 45px;
    }

    .registration-form {
        /* flex-direction: column; */
    }

    .registration-container-1{
        height: 1700px;
    }

    .registration-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-size: cover;
        height: 100%;
        background: rgba(100, 100, 100, 0.4);
        color: white;
    
        width: 100%;
        max-width: 1500px;
        border-radius: 0%;
        
        
      
        border: 1px solid white;
        color: white;
    }

    .login-form h1 {
        text-align: center;
    }
    
}

@media screen and (max-width: 414px) {
    .registration-form{
        width: 100%;
        max-width: 414px;
        height: 100%;
        /* height: 200px; */
        border-radius: 0%;
        border: none;
        padding: 2px 2px;
        justify-content: flex-start;
        /* align-items: flex-start; */
        

    }

    .registration-container-1{
        height:1200px;
        overflow: scroll;
        padding-bottom: 150px;
    }
    .registration-container{
        padding-top: 0px;
        height: 100%;
        
        
        border: none;
        overflow: scroll;
    }

    .registration-form h1 {
    
        font-size: 30px;
        text-shadow: 2px 2px 2px black;
        text-align: center;
        
    }

    .label-input {
        margin-top: 0px;
    }

    .label-input input {
        /* margin-right: 10px; */
        font-size: 30px;
        margin-bottom: 0px;
       
        /* border-radius: 1%; */
        font-family: 'Fjalla One', sans-serif;
        /* text-shadow: 1px 1px 1px lightgrey; */
        padding: 10px 5px;
        margin-top: 0px;
        
        
    }
    form{
        height: 100%;
        overflow: scroll;
        /* padding-left: 20px; */
    }
    
}