.App {
    font-family: 'Fjalla One', sans-serif;
    /* height: 100vh; */
    max-height: 1600px;
    width: 100vw;
    width: 100%;
    background: lightgrey;
    /* width: 2000px; */
}

html {
    background: black;
}

@media screen and (max-width: 768px) {
    .App {
        width: 768px;

    }
}