.App {
    font-family: 'Fjalla One', sans-serif;
    /* height: 100vh; */
    max-height: 1600px;
    width: 100vw;
    width: 100%;
    background: lightgrey;
    /* width: 2000px; */
}

html {
    background: black;
}

.footer{
    height: 100px;
    width: 100%;
    background: black;

}

.footer-title i {
    font-size: 40px;
    padding-left: 30px;
}

.footer-title {
    font-size: 40px;
    /* border: 1px solid lightgrey; */
    /* margin: 20px 20px; */
    padding: 10px 10px;
    width: 100%;
    text-align: center;
    /* border-radius: 7%; */
    /* BACKGROUND: BLACK; */
    COLOR: WHITE;
    background: rgba(100, 100, 100, 0.4);
}

@media screen and (max-width: 768px) {
    .App {
        width: 768px;

    }
}

@media screen and (max-width: 375px) {
   .App {
    /* width: 375px; */
    /* width: 100%; */
    /* background: black; */
    
   }

   html {
       /* width: 375px; */
       /* width: 100%; */
       
   }
       
}